@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika+Negative&family=Yesteryear&display=swap");

:root {
  --title-color: hsl(265, 30%, 12%);
  --primary-color: #c9a740;
  --title-text-shadow: #c9a740;
  --button-color: #6200ee;
  --primary-variant: #6200ee;
  --secondary-color: #784feb;
  --on-primary: hsl(0, 0%, 98%);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: hsla(264, 29%, 15%, 0.9);
  --background: #f7f7f7;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --text-shadow: 0 2px 1px rgba(20, 20, 20, 0.65);
  --linear-background: linear-gradient(
    rgba(244, 218, 183, 0.2),
    rgba(240, 204, 170, 0.2),
    rgba(248, 203, 180, 0.2),
    rgba(246, 187, 181, 0.2),
    rgba(236, 175, 183, 0.2)
  );
  --linear-background-alt: linear-gradient(
    rgba(244, 218, 183, 0.4),
    rgba(240, 204, 170, 0.4),
    rgba(248, 203, 180, 0.4),
    rgba(246, 187, 181, 0.4),
    rgba(236, 175, 183, 0.4)
  );
}

[data-theme="dark"] {
  --title-color: hsl(45, 56%, 55%);
  --title-text-shadow: hsl(265, 30%, 12%);
  --primary-color: hsl(256, 50%, 62%);
  --primary-variant: #6c63ff;
  --secondary-color: #2ed9a0;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.8);
  --background: #100b20;
  --text-shadow: 0 2px 2px rgba(2, 2, 2, 0.65);
  --linear-background: linear-gradient(
    #a39ebc4d,
    #8f94b441,
    #7488ad26,
    #627ea626,
    #53739926,
    #40618226,
    #2f4d6526,
    #243d5126
  );
  --linear-background-alt: linear-gradient(
    rgba(163, 158, 188, 0.4),
    rgba(143, 148, 180, 0.4),
    hsla(219, 26%, 57%, 0.4),
    hsla(215, 28%, 52%, 0.4),
    hsla(213, 30%, 46%, 0.4),
    hsla(210, 34%, 38%, 0.4),
    hsla(207, 36%, 29%, 0.4),
    hsla(207, 38%, 23%, 0.4)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Signika Negative", sans-serif;
  font-size: 16px;
  color: var(--on-background);
  background-color: var(--background);
  overflow-x: hidden;
  background-image: url("/portfolio/public/topography.svg"),
    var(--linear-background);
}
button a {
  text-decoration: none;
  color: inherit;
  border: none;
}
button a:hover {
  text-decoration: none;
  color: inherit;
  border: none;
}
button a:active {
  text-decoration: none;
  color: inherit;
  border: none;
}
.box {
  position: relative; /* for positioning of the center line */
}
.burger {
  display: none;
}
.burger::before,
.burger::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px; /* same as burger less the border on either side */
  height: 0;
  border: 3px solid var(--primary-color); /* use border instead of content background */
  border-radius: 1px;
  transition: all 0.3s linear;
}
.burger::before {
  top: 0;
  transform-origin: left top;
  transform: rotate(0deg) translate(0, -16px);
}
.burger::after {
  bottom: 0;
  transform-origin: right top;
  transform: rotate(0deg) translate(0, 16px);
}

.x .burger {
  /* opacity: 0; this and display:none; will impact the :before and :after parts */
  background-color: transparent;
}
.x .burger::before {
  /* round corners and animate the movement */
  border-radius: 6px;
  transform: translate(10px, -20px) rotate(45deg);
}
.x .burger::after {
  /* round corners and animate the movement */
  border-radius: 6px;
  transform: translate(-8.5px, -20px) rotate(-45deg);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.filiment {
  display: flex;
  position: absolute;
  background-color: var(--secondary-color);
  opacity: 0.7;
  top: 55px;
  width: 95%;
  height: 2px;
  border-radius: 5px;
  transition: all 0.3s linear;
  transform: translateX(-31.5%);
  filter: blur(0.4px);
  box-shadow: var(--box-shadow), 0 0 0 1px var(--secondary-color),
    0 0 2px 1px var(--secondary-color);
}

.theme-switch-wrapper {
  display: flex;
  margin-inline-end: -2rem;
  color: var(--on-background);
}
.trigger {
  margin-right: 0.5rem;
}
.trigger-label {
  font-size: 1.5rem;
}
.theme-switch {
  display: inline-block;
  margin: 0 0.1rem 0 0.5rem;
  position: relative;
  width: 2.392rem;
}

.theme-switch input {
  display: none;
}

.toggle-text {
  position: relative;
  font-size: 1.5rem;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.slider {
  background-color: hsl(0, 0%, 30%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: -15px;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 1.5rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.5rem;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.primary-header {
  justify-content: space-around;
  align-items: center;
}
.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  margin: 0 0;
  position: fixed;
  top: 0;
  right: 0;
  background: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(0.1rem);
  z-index: 400;
}

.see-more {
  margin: 1rem;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.1rem);
  }
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url("/portfolio/public/cloud-light.svg"),
    url("/portfolio/public/cloud-background.svg"), var(--linear-background-alt);
  box-shadow: var(--box-shadow), 0 1px 4px rgb(0 0 0 / 30%),
    0 0 40px rgb(0 0 0 / 10%) inset;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
}

#home {
  align-items: center;
  justify-content: center;
  background: url("/portfolio/public/cloud-light.svg"),
    url("/portfolio/public/cloud-background.svg"), var(--linear-background-alt);
  box-shadow: var(--box-shadow), 0 1px 4px rgb(0 0 0 / 30%),
    0 0 40px rgb(0 0 0 / 10%) inset;
  opacity: 0.9;
  background-size: cover;
  background-position: center;

  min-height: 100vh;
}

h1 {
  font-family: "Yesteryear", cursive;
  font-size: 100px;
  margin-bottom: 0;
  text-shadow: 0px 3px 0px var(--primary-color),
    0px 14px 10px rgba(0, 0, 0, 0.15);
}

#title {
  font-size: 120px;
  color: var(--title-color);
  text-shadow: 0px 3px 0px, 0px 14px 10px var(--title-text-shadow),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.primary-navigation a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.primary-navigation a:hover,
.primary-navigation a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-inline-end: 0.75rem;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-group {
  text-align: center;
}

h1 {
  font-family: "Yesteryear", cursive;
  font-size: 100px;
  margin-bottom: 0;
}

#title {
  font-size: 120px;
  color: var(--title-color);
  text-shadow: var(--title-text-shadow) 0px 3px 0px,
    0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--on-background-alt);
  font-size: 32px;
  font-weight: normal;
}

#sub-title {
  font-size: 45px;
  color: var(--on-background-alt);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

.about-container {
  display: flex;
  margin-top: -1rem;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 85vw;
}

img {
  height: auto;
  width: 250px;
  object-fit: scale-down;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 10px rgb(0 0 0 / 10%),
    0 0 10px rgb(0 0 0 / 10%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
  padding: 20px 20px;
  margin: 0.4rem;
  width: auto;
  overflow: hidden;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.text-box {
  width: 40%;
  text-align: justify;
  background: var(--on-background-alt);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

@media (max-width: 35em) {
  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem 0;
    border-radius: 10px;
    background: url("/portfolio/public/cloud-light.svg"),
      url("/portfolio/public/cloud-background.svg"),
      var(--linear-background-alt);
    box-shadow: var(--box-shadow), 0 1px 4px rgb(0 0 0 / 30%),
      0 0 40px rgb(0 0 0 / 10%) inset;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .filiment {
    display: none;
  }
  h1 {
    text-shadow: var(--primary-color) 0px 3px 0px, #100b207e 0px 14px 10px;
  }

  .slider {
    background-color: hsl(0, 0%, 40%);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: -15px;
    top: 0;
    transition: 0.4s;
    box-shadow: var(--box-shadow);
  }
  #title {
    font-size: 60px;
    color: var(--title-color);
    text-shadow: var(--primary-color) 0px 3px 0px,
      0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
      0px 34px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  #sub-title {
    font-size: 28px;
    color: var(--on-background-alt);
  }

  h1 {
    font-family: "Yesteryear", cursive;
    font-size: 56px;
    margin-bottom: 0;
  }

  .fab {
    font-size: 40px;
    margin: 13px;
    cursor: pointer;
    color: var(--primary-color);
    justify-content: center;
    align-self: center;
    text-align: center;
  }

  .about-container {
    flex-direction: column;
  }

  .image-container {
    border-radius: 10px;
    padding: 10px 20px;
    width: auto;
    background: var(--background);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    box-shadow: black;
  }

  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    background-image: linear-gradient(
      89deg,
      rgba(0, 0, 0, 0.005),
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0.015),
      rgba(255, 255, 255, 0.01),
      rgb(255 255 255 / 3%),
      rgba(255, 255, 255, 0.005),
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.015),
      rgba(255, 255, 255, 0.02),
      rgba(155, 155, 155, 0.005)
    );
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .trigger {
    margin-right: 1rem;
  }
  .burger {
    display: block;
    aspect-ratio: 1;
    position: fixed;
    top: 2.6rem;
    right: 2.5rem;
    background-color: var(--primary-color);
    width: 38px;
    height: 6px;
    line-height: 0;
    border-radius: 1px;
    transition: all 0.3s linear;
    z-index: 9999;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 32px; /* same as burger less the border on either side */
    height: 0;
    border: 3px solid var(--primary-color); /* use border instead of content background */
    border-radius: 1px;
    transition: all 0.3s linear;
  }
  .burger::before {
    top: 0;
    transform-origin: left top;
    transform: rotate(0deg) translate(0, -16px);
  }
  .burger::after {
    bottom: 0;
    transform-origin: right top;
    transform: rotate(0deg) translate(0, 16px);
  }

  .x .burger {
    /* opacity: 0; this and display:none; will impact the :before and :after parts */
    background-color: transparent;
  }
  .x .burger::before {
    /* round corners and animate the movement */
    border-radius: 6px;
    transform: translate(10px, -18px) rotate(45deg);
  }
  .x .burger::after {
    /* round corners and animate the movement */
    border-radius: 6px;
    transform: translate(-6px, -18px) rotate(-45deg);
  }

  .buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    /* margin: 1rem; */
    width: -13vw;
    margin-bottom: 50px;
  }
}

@media (min-width: 17.5em) and (max-width: 35em) {
  .primary-navigation a {
    text-shadow: 0px 3px 0px #332b3ba6, 0px 14px 10px rgba(0, 0, 0, 0.15),
      var(--text-shadow);
  }
  .primary-navigation a > span[aria-hidden="true"] {
    display: none;
  }
  .trigger-label {
    display: none;
  }
  .theme-switch-wrapper {
    margin-inline-end: -2rem;
  }
  #title {
    font-size: 54px;
    color: var(--title-color);
    text-shadow: var(--primary-color) 0px 3px 0px,
      0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
      0px 34px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  #sub-title {
    font-size: 24px;
    color: var(--on-background-alt);
  }
  h1 {
    font-family: "Yesteryear", cursive;
    font-size: 46px;
    margin-bottom: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 0.8rem;
  }
  img {
    height: 225px;
    width: 225px;
  }
  .prime-buttons {
    display: flex;
    flex-direction: column;
  }
  .alt-buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem;
    width: -13vw;
    margin-bottom: 50px;
  }
  .text-box {
    width: 72%;
    text-align: justify;
    background: rgb(0 0 0 / 70%);
    color: var(--on-primary);
    border-radius: 10px;
    padding: 30px;
  }
  .fab {
    font-size: 27px;
    margin: 8px;
    cursor: pointer;
    color: var(--primary-color);
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  .social-icons {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden="true"] {
    display: none;
  }
  .trigger-label {
    display: none;
  }
  .theme-switch-wrapper {
    margin-inline-end: -2rem;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    display: flex;
    padding-block: 2rem;
    margin: 0.6rem 1.2rem;
    padding: 1rem 4rem 2rem 27rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }
  .theme-switch-wrapper {
    margin-inline-end: -2rem;
  }
  .buttons {
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
  }
}
@media (min-width: 55em) and (max-width: 64em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    display: flex;
    padding-block: 2rem;
    margin: 0.6rem 1.2rem;
    padding: 1rem 4rem 2rem 10rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }
}
